@import url(./resets/reset.css);
body {
  background-color: #2D2D2D;
  font-family: Jura, sans-serif;
  color: #ddd; }

.container {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em; }

.strip {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.8em 1.2em;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.2); }

.strip_fullscreen {
  display: flex;
  position: fixed;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.8em 1.2em;
  font-size: 1.2em;
  background: black;
  z-index: 2; }

.tips {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.8em 1.2em;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.2); }

h1 {
  font-weight: 700;
  font-size: 1.7em;
  font-family: 'Titillium Web'; }

#app {
  display: flex;
  justify-content: center; }

#app_fullscreen {
  display: flex;
  justify-content: left; }

.title {
  transition: color 3s; }

.title-0, .title-1 {
  color: #78d376; }

.title-2, .title-transit-2 {
  color: #75b3d1; }

.title-3, .title-transit-3 {
  color: #abaf33; }

.title-4, .title-transit-4 {
  color: #a733af; }

.row {
  display: flex;
  justify-content: center; }

.cell {
  height: 1em;
  width: 1em;
  border: 1px solid #2D2D2D; }

.cell_fullscreen {
  height: 2em;
  width: 2em;
  border: 1px solid #2D2D2D; }

.back-1 {
  background: #78d376; }

.back-2 {
  background: #75b3d1; }

.back-3 {
  background: #abaf33; }

.back-4 {
  background: #a733af; }

.back-transit-2 {
  background: #75b3d1;
  transition: background-color 3s; }

.back-transit-3 {
  background: #abaf33;
  transition: background-color 3s; }

.back-transit-4 {
  background: #a733af;
  transition: background-color 3s; }

.back-death {
  background: #000;
  transition: background-color 6s; }

.back-victory {
  background: #fff;
  transition: background-color 6s; }

.floor {
  background: #d6d1d1;
  border: 1px solid #dbd6d6; }

.player {
  background: #fc8d8d;
  border: 1px solid #fa3939; }

.enemy {
  background: #8ce114;
  border: 1px solid #5a910d; }

.neutral {
  background: green;
  border: 1px solid #002900; }

.potion {
  background: #ff0000;
  border: 1px solid #a80000; }

.weapon {
  background: #f3f70c;
  border: 1px solid #a4a705; }

.shield {
  background: #999;
  border: 1px solid #6e6e6e; }

.exit {
  background: #00b9f1;
  border: 1px solid #00769a; }

.boss {
  background: #c447e0;
  border: 1px solid #971eb2; }

.npc {
  background: #eac086;
  border: 1px solid #dd9a3c; }

.gold {
  background: #cfb53b;
  border: 1px solid #907d23; }

.silver {
  background: #CCC;
  border: 1px solid #a1a1a1; }

.copper {
  background: #b87333;
  border: 1px solid #744920; }

.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  width: 20em;
  font-size: 0.9em;
  color: #ddd; }

.sidebar_fullscreen {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  width: 20em;
  font-size: 0.9em;
  color: #ddd;
  position: absolute;
  z-index: 1;
  background: black;
  position: fixed;
  top: 40px;
  right: 40px; }

.npcStore {
  display: flex;
  flex-direction: column; }

.npcStoreButton {
  display: block;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  pointer-events: all;
  cursor: pointer;
  background: #333;
  color: white;
  border: none; }

.grid-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.2); }

.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0.8em 1.2em;
  background: rgba(0, 0, 0, 0.2); }

.panel_fullscreen {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 0.8em 1.2em;
  background: rgba(0, 0, 0, 0.2); }

.score-item {
  display: flex;
  margin: 0.6em 0;
  min-width: 40%; }

.score-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.setting-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer; }

.icon {
  margin-right: 0.5em;
  border: 0; }

.triangle {
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 1em solid red; }

.restart-btn {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  border: 1px solid #ddd;
  border-radius: 50%; }
  .restart-btn:hover {
    cursor: pointer; }
  .restart-btn:active {
    background: red; }

input {
  position: absolute;
  left: -9999px; }

label {
  cursor: pointer; }

label::before {
  display: inline-block;
  content: '';
  height: 1em;
  width: 1em;
  border: 1px solid #ddd;
  margin-right: 0.5em;
  vertical-align: bottom; }

input:checked + label::before {
  background: red; }

.messages ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0; }

.messages li {
  margin-bottom: 0.5em;
  list-style-type: none;
  font-size: 0.9em;
  opacity: 0.3; }
  .messages li:last-child {
    margin-bottom: 0;
    opacity: 1.0;
    color: #78d376; }
